:root {
    --background: #0A0094;
    --text: #44F497;
    --stroke: #44F497;

    /* --background: #DEE0E2;
    --text: #0A0094;
    --stroke: #0A0094; */
  }

* {
    all: unset; /* Reset all styles to prevent external styles from interfering */
    box-sizing: border-box;
}


#popup-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 20rem;
    background: var(--background);
    padding: 1rem;
    z-index: 9999;
    color: #ffffff;

    /* Stroke effect */
    outline: 3px solid var(--stroke);
    filter: drop-shadow(2px 2px 0px var(--stroke)) 
            drop-shadow(-2px -2px 0px var(--stroke))
            drop-shadow(-2px 2px 0px var(--stroke))
            drop-shadow(2px -2px 0px var(--stroke));

    transition: height 0.3s ease;  /* Smooth transition for resizing */
}

/* does this need to be own class???? */
.popup-shadow{
box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
} 

/* not sure if I like *your* or your underline better? */
.emphasis{
    font-style:italic;
    text-decoration: underline;
}


.popup-header-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    margin-bottom: 2rem;
    /* border: 1px solid orange; */
}

.popup-header-text-box{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    /* border: 1px solid green; */
}

.popup-title-text{
    font-family: monospace;
    color: var(--text);
    font-weight:800;
    font-style:bold;
    font-size: 1rem;
    padding:0;
    margin:0;
}

.popup-body-text{
    font-family: monospace;
    color: var(--text);
    font-weight:300;
    font-size: 1rem;
    padding:0;
    margin:0;
}

.popup-input-text{
    font-family: monospace;
    color: var(--text);
    font-weight:300;
    font-size: 1rem;
    padding:0;
    margin:0;
}

/* #close-popup {
    font-family: monospace;
    color: var(--text);
    background: none;
    border: none;
    margin:0;
    padding:0;
    font-size: 1.5rem;
    cursor: pointer;
} */

.close-icon {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain; 
    background: transparent;  
    border: none;  
}



#user-input {
    width:100%;
    font-family: monospace;
    color: var(--text);
    margin:0;
    padding:0;
    resize: none;      
    overflow: hidden;  
    word-wrap: break-word;
    white-space: pre-wrap; 
}

